.wrapper {
  text-align: center;
}

.button {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  position: relative;
  padding: 1em 2em;
  display: inline-block;
  background: #F9F9F9;
  border-radius: 3px;
  transition: background-color 200ms;
  margin: 0.5em;
  margin-bottom: calc(2em + 1vw);
}

.button:hover {
  background-color: #EEE;
}
