.bubble {
  background: #F5F5F5;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 0.3em 0.4em 0.4em 0.55em;
  line-height: 1;
  position: absolute;
  top: 0.62em;
  left: 100%;
  font-size: 0.8em;
  transition: opacity 300ms;
  border-radius: 3px;
  white-space: nowrap;
  animation: bob infinite 3s;
}

.bubble:before {
  display: block;
  content: '';
  background: #F5F5F5;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 50%;
  left: -3px;
  margin-top: -3px;
  transform: rotate(45deg);
}

.bubbleHidden {
  composes: bubble;
  opacity: 0;
}

@keyframes bob {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
  100% {
    transform: translate(0px);
  }
}
