.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.97);
  transition: 700ms box-shadow;
  z-index: 200;
}

@supports(backdrop-filter: blur(7px)) {
  .header {
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(7px);
  }
}

@supports(-webkit-backdrop-filter: blur(7px)) {
  .header {
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(7px);
  }
}

.stickyHeader {
  composes: header;
  box-shadow: 0 0.3em 0.5em rgba(0,0,0,0.05)
}

.menu {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0 0.9em;
  justify-content: center;
}

.menuItem {
  position: relative;
}
