html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main {
  width: 100%;
  min-height: 100%;

  composes: body from './Typography.css'
}

.area {
  transition: opacity 50ms;
}

.areaLoading {
  opacity: 0.3;
  transition-duration: 200ms;
  transition-delay: 20ms;
}
